<!DOCTYPE html>
<html lang="en">
    <%- 
    include('../../sistema/head_global', 
            { styleFileName: 'style.css', 
              pageTitle: 'Administrador' }
          ); 
    %>
<body class="body">
    <main class="main">
        <%- 
    include('../../sistema/nav_Admin.ejs', 
    { 
        nombreUsuario: nombreUsuario, 
        nombreImgUsuario: nombreImgUsuario, 
        idUsuario: idUsuario 
    }); 
%>
        <div class="home-content">
            <div class="nav-bar">
                <h2>Administrador</h3>
                <h2 name=""><%= nombreUsuario %></h2>
                <img src="/img/<%= nombreImgUsuario %>" alt="Foto de perfil">
            </div>
            <div class="nav-bar-option">
                <div class="options">
                    <div class="option-home">
                        <a href="/administrador/teams/<%=id_Evento%>">Equipos</a>
                    </div>
                    <div class="option-home">
                        <a href="/administrador/clasificaciones/<%=id_Evento%>">Clasificaciones</a>
                    </div>
                    <div class="option-home">
                        <a href="">Partidos</a>
                    </div>
                    <div class="option-home">
                        <a href="">Jugadores</a>
                    </div>
                    <div class="option-home">
                        <a href="">Arbitros</a>
                    </div>
                </div>
            </div>
            <div class="boton">
                <div class="abutton">
                    <a href="/administrador/equipoEvento/<%=id_Evento%>">Agregar Equipo</a>
                </div>
            </div>
            <div class="content-table">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Nro</td>
                            <td>EQUIPOS</td>
                            <td>CATEGORIA</td>
                            <td>GENERO</td>
                            <td>COLORES</td>
                            <td>DIRECCION</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i<eEvento.length; i++){%>
                        <tr>
                            <td></td>
                            <td><%=[i+1]%></td>
                            <td><%=eEvento[i].equipo%></td>
                            <td><%=eEvento[i].categoria%></td>
                            <td><%=eEvento[i].genero%></td>
                            <td><%=eEvento[i].colores%></td>
                            <td><%=eEvento[i].direccion%></td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>