<!DOCTYPE html>
<html lang="en">
    <%- 
    include('../../sistema/head_global', 
            { styleFileName: 'style.css', 
            pageTitle: 'Administrador' }
        ); 
    %>
<body class="body">
    <main class="main">
        <%- 
    include('../../sistema/nav_Admin.ejs', 
    { 
        nombreUsuario: nombreUsuario, 
        nombreImgUsuario: nombreImgUsuario, 
        idUsuario: idUsuario 
    }); 
%>

<div class="home-create">
    <div class="nav-bar">
        <h2>Administrador</h3>
        <h2 name=""><%=nombreUsuario %></h2>
        <img src="/img/<%= nombreImgUsuario %>" alt="Foto de perfil">
    </div>
    <div class="create-container">
        <div class="title">
            <h1>Nuevo Equipo</h1>
        </div>
        <form class="form-container"  action="/administrador/nequipoEvento" method="POST">
            <div class="box-input">
                <select name="institucion" id="">
                    <option value="">Equipo</option>
                    <% for (let i = 0; i<datosEquipo.length; i++){%>
                    <option value="<%=datosEquipo[i].id_equipo%>"><%=datosEquipo[i].nombre_equipo%> - <%=datosEquipo[i].categoria%> - <%=datosEquipo[i].genero %></option>
                    <%}%>
                </select>
                <input type="text" name="idEvento"value="<%=id_Evento%>" style="display:hidden">
            </div>
            <div class="box-input-button">
                <div class="btn-cancelar">
                    <a href="/administrador/Inicio">Cancelar</a>
                </div>
                <button type="submit" class="btn-continuar">Agregar Equipo</button>
            </div>
        </form>
    </div>
</main>
</body>